{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}
{% block title %}
Регистрация
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Зарегистрироваться</h1>
      <form method="POST" action="">
        {{ form.csrf_token }}
        <h3>Login</h3>
        {{ form.name() }} 
        <br>
        <h3>Password</h3>
        {{ form.password()}}
        <br>
        <input type="hidden" id="public_key" value="{{ key }}">
        <input type="hidden" id="url" value="{{ url_for('views.jscipher') }}">
        <br>
        {{ form.submit(onclick="encrypt()") }}
      </form>

      <p class="pt-5"><strong>{{ error }}</strong></p>
      <a href="{{ url_for('views.registration') }}">Зарегистрироваться</a>
      <script src="https://cdn.jsdelivr.net/npm/node-forge@1.0.0/dist/forge.min.js"></script>
      <script>
        async function encrypt()
        {
          var name=document.getElementById('name').value;
          var pass=document.getElementById('password').value;
          var public_key=document.getElementById('public_key').value;
          var secretMessage = "user input goes here";
          var publicKey = forge.pki.publicKeyFromPem(public_key);
          var ciphertext = publicKey.encrypt(pass, "RSAES-PKCS1-V1_5");
          var base64 = forge.util.encode64(ciphertext);
          console.log("pass:", pass);
          console.log("message:", base64);
          //
          url = document.getElementById('url').value;
          console.log(JSON.stringify({"Ciphertext": base64}))
          let response = fetch(url, {
            method: 'POST',
            body: JSON.stringify(base64),
          });
        }
        
      </script>
    </div>
  </div>
</div>

{% endblock %}